body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: darken(white, 10)

a
  color: #00B7FF

.hidden
  display: none

ul.gallery
  padding: 80px 0 15px 0
  background: lighten(gray, 20)
  .controller
    text-align: center
    margin: 15px
    i
      color: darken(gray, 20)
      cursor: pointer
      font-size: 200%
      margin: 20px 10px
    span
      font-size: 30px
      font-weight: bold
  li
    list-style: none
    &.image-container
      text-align: center
      margin-bottom: 25px
    a
      font-size: 200%
  img
    height: 400px
    margin: auto
  li.placeholder
    height: 100%
    width: 600px
    margin: auto
    text-align: center
    i
      font-size: 60px
      position: relative
      top: calc(50% - 60px)
      margin-bottom: 50px
